server:
  addr: "0.0.0.0:30002"
  http:
    read_timeout: 10s
    write_timeout: 20s
    idle_timeout: 1m30s

data:
  database:
    postgres:
      host: localhost
      port: 5432
      user: postgres
      db_name: ecommerce

discovery:
  consul:
    addr: 127.0.0.1:8500
    scheme: http
    health_check: true

auth:
  casdoor:
    endpoint: "https://casdoor.example.com"

search:
  meilisearch:
    host: "http://127.0.0.1:7700"
    api_key: "replace-with-search-only-api-key"
    index: products

log:
  framework:
    format: console
    log_level: debug
    error_level: error
  application:
    format: console
    level: debug
